<form  [formGroup]="tableForm" *ngIf="tableForm" (ngSubmit)="addUser()">
    <div class="mx-5">
        <button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-5 mt-5">Add</button>

        <div class="flex flex-col">
            <div class="overflow-x-auto shadow-md sm:rounded-lg">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                            <thead class="bg-gray-100 dark:bg-gray-700 text-left">
                                <tr class="text-white">
                                    <th class="py-4 px-6" *ngFor="let header of headers">{{header}}</th>
                                    <th class="py-4 px-6" colspan="2">actions</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700" formArrayName="items">
                                <tr scope="col" class="p-4" *ngFor="let tableItem of itemsArr.controls; let i = index" [formGroupName]="i">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white"
                                        *ngFor="let prop of displayedProps">
                                        <input class="bg-gray-600" [formControlName]="prop.name">
                                    </td>
                                    <ng-container *ngIf="tableItem.get('editMode')?.value; else actionsTemp">
                                        <td
                                            class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" type="button" (click)="saveNewTableItem(tableItem)">Save</button>
                                        </td>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <button class="bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded"  type="button" (click)="cancelNewTableItem(tableItem, i)">Cancel</button>
                                        </td>
                                    </ng-container>
                                    <ng-template #actionsTemp>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <button class="bg-violet-600 hover:bg-violet-800 text-white font-bold py-2 px-4 rounded"  type="button" (click)="editNewTableItem(tableItem , i)">Edit</button>
                                        </td>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <button class="bg-red-700 hover:bg-red-900 text-white font-bold py-2 px-4 rounded"  type="button" (click)="removeGroupFromArray(i)">Delete</button>
                                        </td>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
       <div class="flex justify-end mt-5">
            <span>Salay Sum {{salaySum$ | async}}</span>
       </div>
    </div>
</form>
